<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= render "layouts/sidebar" %>
    </div>
    <div class="col-sm-7 mt-5">
      <div class="row justify-content-center">
        <h3 class="text-center mb-5">Edit User</h3>
      </div>
      <%= form_with model: @user, url: user_path(@user), method: :patch do |f| %>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
            <%= attachment_image_tag(@user, :profile_image, fallback: "no-image.jpg", :size => "200x200") %>
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-5">
            <div class="item_image_btn">
              <%= f.attachment_field :profile_image, id: "file" %>
            </div>
            <div id="img_field" onClick="$('#file').click()" >
              <div class="button text-center" tabindex="0" role="button">プロフィール写真を変更 </div>
            </div>
          </div>
        </div><br />
        <div class="row">
          <div class="col-4 text-center">
            <%= f.label :Name %>
          </div>
          <div class="col-6">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div><br />
        <div class="row">
          <div class="col-4 text-center">
            <%= f.label :Email %>
          </div>
          <div class="col-6">
            <%= f.text_field :email, class: "form-control" %>
          </div>
        </div><br />
        <div class="row justify-content-end">
          <%= f.submit "変更する", class: "btn btn-outline-light" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
