<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= render "layouts/sidebar" %>
    </div>
    <div class="col-sm-7 mt-5">
      <div class="row justify-content-center">
        <h3 class="text-center mb-5">Edit User</h3>
      </div>
      <%= form_with model: @user, url: user_path(@user), method: :patch do |f| %>
        <div class="row">
          <div class="col-sm-4 my-auto text-center">
            <%= f.label :Image %>
          </div>
          <div class="col-sm-4 text-center">
            <%= f.file_field :profile_image, class: "img_field", style: "display: none;" %>
            <%= attachment_image_tag(@user, :profile_image, class: "prev", fallback: "no-image.jpg", onClick: "$('.img_field').click()", :size => "200x200") %>
          </div>
        </div><br />
        <div class="row">
          <div class="col-sm-4 text-center">
            <%= f.label :Name %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div><br />
        <div class="row">
          <div class="col-sm-4 text-center">
            <%= f.label :Email %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :email, class: "form-control" %>
          </div>
        </div><br />
        <div class="row justify-content-end mr-1">
          <%= f.submit "変更する", class: "btn btn-outline-light" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center" style="margin: 130px 0 30px 0;">
    ©︎2020-2021 Takafumeeee!!!.
  </div>
</div>
