<div class="row">
  <div class="col-3">
    <%= render "layouts/sidebar" %>
  </div>
  <div class="col-7">
    <div class="row justify-content-center">
      <div class="col-4 text-right">
        <h1 style="font-family: 'Kaushan Script', cursive; font-size: 40px; margin: 30px 0px 30px 0;">Edit User</h1>
      </div>
    </div>
    <%= form_with model: @user, url: user_path(current_user.id) do |f| %>
      <div class="row">
        <div class="col-4 text-center">
          <%= f.label :Name %>
        </div>
        <div class="col-6">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div><br />
      <div class="row">
        <div class="col-4 text-center">
          <%= f.label :image %>
        </div>
        <div class="col-6">
          <%= f.attachment_field :profile_image %>
        </div>
      </div><br />
      <div class="row justify-content-end">
        <%= f.submit "変更する", class: "btn btn-outline-light" %>
      </div>
    <% end %>
  </div>
</div>

