<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= render "layouts/sidebar" %>
    </div>
    <div class="col-sm-7 my-5">
      <h3 class="text-center"><%= @user.name %>'s Posts</h3>
      <% @user.beans.reverse.each do |bean| %>
        <div class="row my-5">
          <div class="col-sm-6 text-center">
            <section class="inview_re fadeIn_post_1">
              <%= link_to attachment_image_tag(bean, :image, style: "width: 100%; height: 300px;", class: "prev rounded-circle"), bean_path(bean) %>
            </section>
          </div>
          <div class="col-sm-6 mt-5">
            <section class="inview_re fadeIn_post_2">
              <div class="row justify-content-center">
                <strong class="h4"><%= bean.name %></strong>
              </div>
            </section>
            <section class="inview_re fadeIn_post_3">
              <div class="row justify-content-center">
                ¥<%= bean.price.to_s(:delimited) %>
              </div>
            </section>
            <section class="inview_re fadeIn_post_4">
              <div class="row justify-content-center mx-2">
                <%= bean.info %>
              </div>
            </section>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%#= paginate @user.beans %>
</div>
<div class="row justify-content-center pb-3" style="padding-top: 130px;">
  ©︎2020-2021 Takafumeeee!!!.
</div>