<div class="row">
  <div class="col-3">
    <%= render "layouts/sidebar" %>
  </div>
  <div class="col-7">
    <div class="row">
      <div class="col">
        <%= @user.name %>さんの投稿一覧
      </div>
    </div>
    <div class="row">
      <% @user.beans.each do |bean| %>
        <div class="col-4">
          <div class="card-image">
            <%= link_to attachment_image_tag(bean, :image, :fill, 200, 200), bean_path(bean) %>
            <div class="card-body">
              <%= bean.name %>
              <%= bean.price %>
              <%= bean.info %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>