<div class="row">
  <div class="col-3">
    <%= render "layouts/sidebar" %>
  </div>
  <div class="col-7">
    <h1>マイページ</h1>
    <%= @user.name %>
    <%= attachment_image_tag @user, :profile_image_id, fallback: "no-image.jpg" %>
    <%= link_to "編集", edit_user_path, class: "btn btn-outline-secondary" %>
    <%= link_to "My Beans" %>
    <%= link_to "Favorite Beans",users_favorites_path, class: "btn-sm btn-outline-secondary" %>
    <%= link_to "新規投稿", new_bean_path, class: "btn-sm btn-outline-warning" %>
  </div>
</div>
