<div class="about scrollbox1">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <%= render "layouts/about_sidebar" %>
      </div>
    </div>
    <section class="inview_re fadeIn_1">H</section>
    <section class="inview_re fadeIn_2">i</section>
    <section class="inview_re fadeIn_3">s</section>
    <section class="inview_re fadeIn_4">t</section>
    <section class="inview_re fadeIn_5">o</section>
    <section class="inview_re fadeIn_6">r</section>
    <section class="inview_re fadeIn_7">y</section>
    <section class="inview_re fadeIn_8">
      <h5>アラビアのカルディという山羊飼いはエチオピアの草原で放牧生活をしていました。</h5><br />
      <h5>ある日、自分の山羊があたりに茂っている木になった真っ赤な実を食べて楽しそうに飛んだり跳ねたりしていました。</h5><br />
      <h5>そこで調べてみると、甘ずっぱいおいしさに加えて、眠気がとれ爽やかな気分に。</h5><br />
      <h5>それ以来、魔法の豆として密かに愛用されるようになったということです。</h5><br />
      <h5>今では当たり前のように飲まれていますが、飲み方も多種多様になっています。</h5><br />
      <h5>一般家庭で飲まれているものは、ドリップコーヒーやインスタントコーヒーですが</h5><br />
      <h5 style="margin-bottom: 80px;">注目して頂きたい事は、「味」です。</h5>
    </section>
  </div>
</div>
<div class="about parallax-bg img-1"></div>
<div class="about scrollbox2">
  <div class="container text-center mt-5">
    <section class="inview_re fadeIn_second_1">O</section>
    <section class="inview_re fadeIn_second_2">v</section>
    <section class="inview_re fadeIn_second_3">e</section>
    <section class="inview_re fadeIn_second_4">r</section>
    <section class="inview_re fadeIn_second_5">v</section>
    <section class="inview_re fadeIn_second_6">i</section>
    <section class="inview_re fadeIn_second_7">e</section>
    <section class="inview_re fadeIn_second_8">w</section>
    <section class="inview_re fadeIn_second_9">
      <h5>コーヒーは「甘み」「酸味」「塩見」「苦味」「うま味」という五原味があります。</h5><br />
      <h5>当サイトでは日本人の嗜好にあった、「重さ」「苦味」「風味」「甘み」「酸味」という表し方にしています。</h5><br />
      <h5>普段、お仕事の休憩中や家事の合間に何気なく飲んでるコーヒーですが、</h5><br />
      <h5 style="margin-bottom: 80px;">ホッと一息ついた時に、少し味わってみては如何でしょうか？</h5>
    </section>
  </div>
</div>
<div class="about parallax-bg img-2"></div>
<div class="about scrollbox3">
  <div class="container text-center mt-5">
    <section class="inview_re fadeIn_third_1">L</section>
    <section class="inview_re fadeIn_third_2">e</section>
    <section class="inview_re fadeIn_third_3">t</section>
    <section class="inview_re fadeIn_third_4">'s</section>
    <section class="inview_re fadeIn_third_5">p</section>
    <section class="inview_re fadeIn_third_6">o</section>
    <section class="inview_re fadeIn_third_7">s</section>
    <section class="inview_re fadeIn_third_8">t</section>
    <section class="inview_re fadeIn_third_9">
      <h5>好きなものをシェアすることで繋がっていた趣味仲間。</h5><br />
      <h5>現在、会える機会が減ってしまったことで大切な時間が無くなってしまうのはあまりに切ないですよね。</h5><br />
      <h5>キッカケを作るため、美味しいと思ったコーヒーを共有しましょう！</h5><br />
      <% if user_signed_in? %>
      <% else %>
        <h5>会員登録をしなくても  <%= link_to 'Guest', users_guest_sign_in_path, class: "btn-lg btn-light", style: "border-radius: 20px;", method: :post %>  としてログインができますので、是非ご利用下さい。</h5>
      <% end %>
    </section>
  </div>
</div>
<% if user_signed_in? %>
  <div class="row justify-content-center my-5">
    <div class="col-sm-2" style="margin-left: 30px;">
      <%= link_to "Post", new_bean_path, class: "btn btn-outline-light", style: "border-radius: 20px; font-size: 20px;" %>
    </div>
  </div>
  <% else %>
  <div class="row justify-content-center my-5">
    <div class="col-sm-6 text-right">
      <%= link_to "SignUp", new_user_registration_path, class: "btn btn-outline-light", style: "border-radius: 20px;" %>
    </div>
    <div class="col-sm-6">
      <%= link_to "Log In", new_user_session_path, class: "btn btn-outline-light", style: "border-radius: 20px;" %>
    </div>
  </div>
<% end %>
<div class="row justify-content-center pt-5 mb-3">
  ©︎2020-2021 Takafumeeee!!!.
</div>
