<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6 text-center" style="font-size: 40px;">
      <%= link_to ("https://twitter.com/?lang=ja") do %>
        <li class="fab fa-twitter text-light"></li>
      <% end %>
         /
      <%= link_to ("https://www.instagram.com/") do %>
        <i class="fab fa-instagram text-light"></i>
      <% end %>
      /
      <%= link_to ("https://ja-jp.facebook.com/") do %>
        <i class="fab fa-facebook-f text-light"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center mt-5 mb-3" style="border-bottom: 3px solid;">
    <div class="col-sm-8 text-center" style="border-right: 10px solid;">
      <%= image_tag("logo.png") %>
    </div>
    <div class="col-sm-4 text-center my-auto" style="font-size: 50px;">
      <%= Date.current.strftime('%m') %>  /
      <%= Date.current.strftime('%d') %>
    </div>
  </div>
</div>
<div class="container" id="slider" data-turbolinks="false">
  <div class="row justify-content-end bg-slider">
    <%= render "layouts/top_sidebar" %>
    <div class="col-sm">
      <div class="top-font">
        <div class="row justify-content-end">
          <h1 style="font-family: 'Kaushan Script', cursive;">Please Introduce your Favorite Coffee.</h1>
        </div>
      </div>
    </div>
  </div>
</div>



