<div class="container">
  <div class="row mt-5">
    <div class="col-sm-6 text-center" style="font-size: 30px;">
      <%= link_to ("https://twitter.com/?lang=ja") do %>
        <li class="fab fa-twitter text-light"></li>
      <% end %>
         /
      <%= link_to ("https://www.instagram.com/") do %>
        <i class="fab fa-instagram text-light"></i>
      <% end %>
      /
      <%= link_to ("https://ja-jp.facebook.com/") do %>
        <i class="fab fa-facebook-f text-light"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-sm-8 text-center" style="border-right: 15px solid; border-bottom: 3px solid;">
      <%= image_tag("logo.png") %>
    </div>
    <div class="col-sm-1" style="border-bottom: 3px solid #A0522D;"></div>
  </div>
</div>
<div class="container" id="slider" data-turbolinks="false">
  <div class="row bg-slider">
    <%= render "layouts/top_sidebar" %>
    <div class="col-sm text-center">
      <div class="top-font"><h1 style="font-family: 'Kaushan Script', cursive;">Please Introduce your Favorite Coffee.</h1></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center" style="margin: 350px 0 100px">
    <div class="col-sm-8">
      <h2 class="mb-5" style="border-bottom: 10px solid;">Infomation</h2><br>
      <h5>あなたはどんな時にコーヒーを飲みますか？</h5><br>
      <h5>眠くてたまらない時？リラックスしたい時？食後の一杯に・・・？</h5><br>
      <h5>例えば、仕事の休憩、家事の合間、お店でのティータイムなど、</h5>
  　　<h5>様々なシーンでコーヒーを飲むかと思われます。</h5>
  　　<h5>美味しいと思ったコーヒーを共有しましょう。</h5>
  　　<h5>同じコーヒーを楽しむということは、同じ時間を共にするということです。</h5>
  　　<h5>コミュニケーションを円滑にし、人と人との繋がりを</h5>
  　　<h5>より強くすることができるのではないでしょうか。</h5>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-sm-8">
      <h2 style="border-bottom: 10px solid;">Ranking</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <% @rankings.each.with_index(1) do |bean, i| %>
      <div class="col-sm-4 text-center">
        <p style="font-size: 20px;"><%= i %> 位</p>
        <%= link_to attachment_image_tag(bean, :image, class: "prev-rank", style: "width: 100%; height: 300px;", fallback: "no-image.jpg"), bean_path(bean) %>
        <div class="py-2 mb-5 bg-light text-dark" style="font-size: 20px;">
          <%= bean.name %><br />
          もらったいいね数：<%= bean.favorites.count %><br />
          <p style="font-size: 15px;"><%= link_to bean.user.name, user_path(bean.user), class: "btn-sm btn-outline-dark",style: "text-decoration: underline;" %>さんの紹介</p>
        </div>
      </div>
    <% end %> 
  </div>
</div>
<div class="container my-5">
  <div class="row justify-content-center mb-5">
    <div class="col-sm-8">
      <h2 style="border-bottom: 10px solid;">Register</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="inview_re fadeIn_top">
      <%= image_tag("top.jpg") %>
      <div>会員登録をすれば、美味しいと感じたコーヒーの紹介や<br>同じ嗜好を持った仲間とコミュニケーションが取れます。</div>
      <%= link_to new_user_registration_path, class: "text-light" do %>
        <p>会員登録はこちらからお願いします▶︎</p>
      <% end %>
    </div>
  </div>
</div>
<footer class="footer">
</footer>

