<div class="row">
  <div class="col-3">
    <%= render "layouts/sidebar" %>
  </div>
  <div class="col-7">
    <h1>投稿編集</h1>
    <%= form_with model: @bean, url: bean_path do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :price %>
      <%= f.text_field :price %>
      <%= f.label :image %>
      <%= f.attachment_field :image %>
      <div class="row justify-content-start" id="star" style="padding-left: 98px;">
      <%= f.label :rate,"評価" %>
      <%= f.hidden_field :rate, id: :review_star %>
      </div>
      <script>
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'bean[rate]',
          half: true,
        });
      </script>
      <%= f.label :info %>
      <%= f.text_area :info %>
      <%= f.submit "更新する" %>
    <% end %>
  </div>
</div>


