<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= render "layouts/sidebar" %>
    </div>
    <div class="col-sm-7">
      <div class="row justify-content-center">
        <h3 class="text-center py-5">Bean's Edit</h3>
      </div>
      <%= form_with model: @bean, url: bean_path do |f| %>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <%= attachment_image_tag(@bean, :image, fallback: "no-image.jpg", :size => "200x200") %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <div class="item_image_btn">
              <%= f.attachment_field :image, id: "file" %>
            </div>
            <div id="img_field" onClick="$('#file').click()" >
              <div class="button text-center" tabindex="0" role="button">写真を変更 </div>
            </div>
          </div>
        </div><br />
        <div class="row">
          <div class="col-sm-4 text-center">
            <%= f.label :名前 %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div><br />
        <div class="row">
          <div class="col-sm-4 text-center">
            <%= f.label :金額 %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :price, class: "form-control" %>
          </div>
        </div><br />
        <div class="row" id="star">
          <div class="col-sm-4 text-center">
            <%= f.label :評価 %>
            <%= f.hidden_field :rate, id: :review_star %>
            <script>
              $('#star').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'bean[rate]',
                half: true,
              });
            </script>
          </div>
        </div><br />
        <div class="row">
          <div class="col-sm-4 text-center">
            <%= f.label :感想 %>
          </div>
          <div class="col-sm-6">
            <div class="row">
              （100文字以内）
            </div>
            <div class="row"> 
              <%= f.text_area :info, class: "form-control", :size => "20x5" %>
            </div>
          </div><br />
        </div>
        <div class="row justify-content-end">
          <%= f.submit "Update", class: "btn btn-outline-light" %>
        </div>
      <% end %>
    </div>
  </div>
<div class="container">
  <div class="row mb-3 justify-content-center">
    ©︎2020-2021 Takafumeeee!!!.
  </div>
</div>

