<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= render "layouts/sidebar" %>
    </div>
    <div class="col-sm-7">
      <div class="row justify-content-center">
        <h3 class="text-center py-5">Bean's Edit</h3>
      </div>
      <%= form_with model: @bean, url: bean_path do |f| %>
        <div class="row">
          <div class="col-sm-4 my-auto text-center">
            <%= f.label :写真 %>
          </div>
          <div class="col-sm-4 text-center">
            <%= f.file_field :image, class: "img_field", style: "display: none;" %>
            <%= attachment_image_tag(@bean, :image, class: "prev", fallback: "no-image.jpg", onClick: "$('.img_field').click()", :size => "200x200") %>
          </div>
        </div><br />
        <div class="row">
          <div class="col-sm-4 text-center">
            <%= f.label :名前 %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div><br />
        <div class="row">
          <div class="col-sm-4 text-center">
            <%= f.label :金額 %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :price, class: "form-control" %>
          </div>
        </div><br />
        <div class="row">
          <div class="col-sm-4 text-center">
            <%= f.label :評価 %>
          </div>
          <div class="col-sm-4 text-center" id="star"></div>
            <script>
              $('#star').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'bean[rate]',
                half: true,
                score: <%= @bean.rate %>,
              });
            </script>
        </div><br />
        <div class="row">
          <div class="col-sm-4 text-center">
            <%= f.label :感想 %>
          </div>
          <div class="col-sm-6">
            <div class="row">
              （100文字以内）
            </div>
            <div class="row px-2">
              <%= f.text_area :info, class: "form-control", :size => "20x5" %>
            </div>
          </div>
        </div><br />
        <div class="row justify-content-end mr-1">
          <%= f.submit "Update", class: "btn btn-outline-light" %>
        </div>
      <% end %>
    </div>
  </div><br />
<div class="container">
  <div class="row mb-3 justify-content-center">
    ©︎2020-2021 Takafumeeee!!!.
  </div>
</div>

