<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render "layouts/sidebar" %>
    </div>
    <div class="col-9">
      <h1 class="text-center" style="font-family: 'Kaushan Script', cursive; font-size: 40px; margin: 30px 90px 30px 0;">Beans</h1>
      <div class="row">
        <% @beans.each do |bean| %>
          <section class="inview_re fadeIn_bean">
            <div style="margin: 0 30px 60px 0;">
              <%= link_to attachment_image_tag(bean, :image, class: "rounded-circle", fallback: "no-image.jpg", :size => "250x250"), bean_path(bean) %>
              <div class="card-title">
                <%= bean.name %>
              </div>
              <div class="card-price">
                <%= bean.price %>円
                <div id="star-rate-<%= bean.id %>"></div>
                <script>
                  $('#star-rate-<%= bean.id %>').raty({
                  size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: <%= bean.rate %>
                  });
                </script>
              </div>
              評価：<%= bean.rate %>点 |
              コメント<%= bean.comments.count %>件
              <p>投稿日:  <%= simple_time(bean.created_at) %></p>
            </div>
          </section>
        <% end %>
      </div>
    </div>
  </div>
</div>



