<div class="container" data-turbolinks="false">
  <div class="row">
    <div class="col-3">
      <%= render "layouts/sidebar" %>
    </div>
    <div class="col-9">
      <h3 class="text-center py-5">Beans</h3>
      <div class="row">
        <% @beans.each do |bean| %>
          <section class="inview_re fadeIn_bean">
            <div style="margin: 0 30px 100px 0;">
              <%= link_to attachment_image_tag(bean, :image, class: "rounded-circle", fallback: "no-image.jpg", :size => "250x250"), bean_path(bean) %>
              <div class="card-title">
                <%= bean.name %>
              </div>
              <div class="card-price">
                <%= bean.price %>円
                <div id="star-rate-<%= bean.id %>"></div>
                <script>
                  $('#star-rate-<%= bean.id %>').raty({
                  size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: <%= bean.rate %>
                  });
                </script>
              </div>
              評価：<%= bean.rate %>点 |
              コメント<%= bean.comments.count %>件
              <p>投稿日:  <%= simple_time(bean.created_at) %></p>
              <%= link_to bean.user.name, user_path(bean.user), class: "btn-sm btn-outline-light" %>さんの紹介
            </div>
          </section>
        <% end %>
      </div>
      <div class="row justify-content-center">
        <%= paginate @beans %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5 mb-3">
    ©︎2020-2021 Takafumeeee!!!.
  </div>
</div>
