<div class="container post mt-1">
  <div class="row">
    <div class="col-3">
      <%= render "layouts/sidebar" %>
    </div>
    <div class="col-7">
      <div class="row pt-5">
        <div class="col-4 pb-5">
          <h1>ðŸ“®</h1>
        </div>
      </div>
      <%= form_with model: @bean, url: beans_path, local: true do |f| %>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-2 text-right">
              <%= f.label :åå‰ %>
            </div>
            <div class="col-8">
              <%= f.text_field :name,class: "form-control-sm", :size => "20x5" %>
            </div>
          </div><br />
          <div class="row justify-content-center">
            <div class="col-2 text-right">
              <%= f.label :å€¤æ®µ %>
            </div>
            <div class="col-8">
              <%= f.text_field :price,class: "form-control-sm", :size => "20x5" %> å††
            </div>
          </div><br />
          <div class="row justify-content-center">
            <div class="col-2 text-right">
              <%= f.label :ç”»åƒ %>
            </div>
            <div class="col-8">
              <%= f.attachment_field :image %>
            </div>
          </div><br />
          <div class="row justify-content-start" id="star" style="padding-left: 98px;">
            <div class="col-2">
              <%= f.label :è©•ä¾¡ %>
              <%= f.hidden_field :rate, id: :review_star %>
            </div>
          </div><br />
          <script>
            $('#star').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'bean[rate]',
              half: true,
            });
          </script>
          <div class="row justify-content-center">
            <div class="col-2 mr-1 text-right">
              <%= f.label :å‘³ %>
            </div>
            <div class="form col-8">
              <%= f.label :è»½ã• %>
              <%= f.select :refresh, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"]] %>
              <%= f.label :è‹¦å‘³ %>
              <%= f.select :bitter, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"]] %>
              <%= f.label :é¢¨å‘³ %>
              <%= f.select :body, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"]] %>
              <%= f.label :ç”˜ã¿ %>
              <%= f.select :fruity, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"]] %>
              <%= f.label :é…¸å‘³ %>
              <%= f.select :acidity, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"]] %>
            </div>
          </div><br />
          <div class="row justify-content-center">
            <div class="col-2 text-right">
              <%= f.label :æ„Ÿæƒ³ %>
            </div>
            <div class="col-6">
              <%= f.text_area :info, :size => "35x5" %>
            </div>
            <div class="col-2 text-right" style="padding-top: 90px;">
              <%= f.submit "æŠ•ç¨¿ã™ã‚‹", class: "btn btn-outline-dark" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>