<div class="container" data-turbolinks="false">
  <div class="row">
    <div class="col-sm-3">
      <%= render "layouts/about_sidebar" %>
    </div>
  </div>
  <label style="font-size: 10px;"><<写真をクリックしてバランスを表示>></label>
  <div class="row justify-content-center">
    <div class="col-sm-7">
      <%= render "beans/image", bean: @bean %>
      <% if @bean.user.id == current_user.id %>
        <%= link_to "編集︎", edit_bean_path(@bean), class: "btn-sm btn-dark" %>
        <a style="padding-left: 20px;"><%= link_to "削除︎", @bean, method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn-sm btn-dark destroy_bean_#{@bean.id}" %></a>
      <% end %>
    </div>
    <div class="col-sm-5">
      <h4><%= @bean.name %></h4>
      <h4>¥<%= @bean.price.to_s(:delimited) %></h4>
      <p><%= simple_format@bean.info %></p>
      <div style="margin-top: 100px;" id="star-rate-<%= @bean.id %>"></div>
      <%= render "beans/rate", bean: @bean %><br />
      <%= form_with model:[@bean, @comment] do |f| %>
        <%= f.text_area :comment, :size => "25x2", placeholder: "コメントしてね(20文字以内)" %>
        <div class="row pt-2">
          <div class="col-sm-6">
            <%= f.submit "コメントする",class: "btn btn-outline-light", style: "border-radius: 20px;" %>
          </div>
          <div class="col-sm-6">
            <div id="bean_<%= @bean.id %>"><%= render "beans/favorite_button", bean: @bean %></div>
          </div>
        </div>
      <% end %>
      <div class="comments text-right"><%= render "beans/comment", bean: @bean, comment: @comment %></div>
    </div>
  </div>
  <div class="row justify-content-center mt-5 mb-3">
    ©︎2020-2021 Takafumeeee!!!.
  </div>
</div>