<h1>投稿詳細</h1>
<%= attachment_image_tag(@bean, :image, :fill, 300, 300, fallback: "no-image.jpg", :size => "300x300") %>
名前
<%= @bean.name %>
値段
<%= @bean.price %>円
説明
<%= @bean.info %>

<%= link_to "編集する❤︎", edit_bean_path(current_user), class: "alert alert-danger" %>

