<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render "layouts/about_sidebar" %>
    </div>
  </div>
  <label style="font-size: 10px; margin-left: 150px;"><<写真をクリックしてバランスを表示>></label>
</div>
<div class="container">
  <div class="mb-3">
    <div class="row no-gutters">
      <div class="col-5">
        <%= render "beans/image", bean: @bean %>
      </div>
      <div class="col-7">
        <div class="card-body">
          <h4 class="card-title"><%= @bean.name %></h4>
          <h4>¥<%= @bean.price %></h4>
          <p><%= simple_format@bean.info %></p>
          <div id="star-rate-<%= @bean.id %>"></div>
          <%= render "beans/rate", bean: @bean %>
          <div id="bean_<%= @bean.id %>"><%= render "beans/favorite_button", bean: @bean %></div>
          <%= form_with model:[@bean, @comment] do |f| %>
            <%= f.text_area :comment, :size => "40x2", placeholder: "コメントしてね" %><br />
            <%= f.submit "コメントする",class: "btn btn-outline-light" %>
          <% end %>
          <div class="comments text-right"><%= render "beans/comment", bean: @bean, comment: @comment %></div>
          <% if @bean.user.id == current_user.id %>
            <%= link_to "編集︎", edit_bean_path(@bean), class: "btn-sm btn-dark" %>
            <a style="padding-left: 20px;"><%= link_to "削除︎", @bean, method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn-sm btn-dark destroy_bean_#{@bean.id}" %></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>