<div class="container" data-turbolinks="false">
  <div class="row">
    <div class="col-sm-3">
      <%= render "layouts/sidebar" %>
    </div>
    <div class="col-sm-9 mt-5">
      <div class="row justify-content-center">
        <h4><%= @bean.name %></h4>
      </div>
      <div class="row justify-content-center">
        <%= render "beans/image", bean: @bean %>
      </div>
      <div class="row justify-content-center">
        <p style="font-size: 10px;"><<写真をクリックしてレーダーチャートを表示>></p>
      </div>
      <div class="row justify-content-end">
        <% if @bean.user.id == current_user.id %>
          <%= link_to "編集︎", edit_bean_path(@bean), class: "btn-sm btn-dark" %>
          <a style="padding-left: 20px;"><%= link_to "削除︎", @bean, method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn-sm btn-dark destroy_bean_#{@bean.id}" %></a>
        <% end %>
      </div>
      <div class="row justify-content-center">
        <h4>¥<%= @bean.price.to_s(:delimited) %></h4>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <p><%= simple_format@bean.info %></p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-5 text-right">
          <div id="star-rate-<%= @bean.id %>"></div>
          <%= render "beans/rate", bean: @bean %>
        </div>
        <div class="col-sm-2">
          評価　<%= @bean.rate %>
        </div>
      </div><br />
      <div class="row justify-content-center">
        <div class="col-sm-3 text-center">
          <div id="bean_<%= @bean.id %>"><%= render "beans/favorite_button", bean: @bean %></div>
        </div>
        <div class="col-sm-2 text-center mb-5">
          <div class="collapsed btn btn-outline-light" data-toggle="collapse" href="#collapse" aria-expanded="false" aria-controls="collapseExample">
            コメント
          </div>
        </div>
        <div class="row justify-content-center" style="boder-line: 1px;">
          <div class="collapse text-center" id="collapse" style="">
            <%= form_with model:[@bean, @comment] do |f| %>
              <%= f.text_area :comment, :size => "25x2", placeholder: "コメントしてね(20文字以内)" %><br />
              <%= f.submit "投稿",class: "btn-sm btn-light"%>
            <% end %><br />
            <div class="row">
              <div class="comments text-right"><%= render "beans/comment", bean: @bean, comment: @comment %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>