<header class="navbar navbar-expand-lg navbar-dark"style="position: absolute; top: 350px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
    <ul class="navbar-nav header_nav justify-content-center bg-light" style="border: 2px solid silver;">
      <% if user_signed_in? %>
        <li class="switch" style="font-size: 20px;"><%= link_to 'Top', root_path,class: "text-dark" %></li><br />
        <li class="switch" style="font-size: 20px;"><%= link_to 'About', about_path,class: "text-dark" %></li><br />
        <li class="switch" style="font-size: 20px;"><%= link_to 'Post', new_bean_path,class: "text-dark" %></li><br />
        <li class="switch" style="font-size: 20px;"><%= link_to 'Beans', beans_path,class: "text-dark" %></li><br />
        <li class="switch" style="font-size: 20px;"><%= link_to 'My Page', user_path(current_user.id),class: "text-dark" %></li><br />
        <li class="switch" style="font-size: 20px;"><%= link_to 'Log Out', destroy_user_session_path,class: "text-dark", method: :delete%></li><br />
      <% else %>
        <li class="switch" style="font-size: 20px;"><%= link_to 'Top', root_path,class: "text-dark" %></li><br />
        <li class="switch" style="font-size: 20px;"><%= link_to 'About', about_path,class: "text-dark" %></li><br />
        <li class="switch" style="font-size: 20px;"><%= link_to 'Sign Up', new_user_registration_path,class: "text-dark" %></li><br />
        <li class="switch" style="font-size: 20px;"><%= link_to 'Log In', new_user_session_path,class: "text-dark" %></li><br />
        <li class="switch" style="font-size: 20px;"><%= link_to 'Guest', users_guest_sign_in_path,class: "text-dark", method: :post %></li>
      <% end %>
    </ul>
  </div>
</header>