<!DOCTYPE html>
<html>
  <head>
    <title>Beeeean!!!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= Gon::Base.render_data %>
    <%= include_gon(:init => true) %>
    <script defer src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" integrity="sha384-vuFJ2JiSdUpXLKGK+tDteQZBqNlMwAjhZ3TvPaDfN9QmbPb7Q8qUpbSNapQev3YF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header style="padding:30px;">
    <%= link_to "Beeeean!!!", root_path, class: "btn btn-outline-dark rounded-circle w-25", :style => "font-size: 25px;" %>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
