<!DOCTYPE html>
<html>
  <head>
    <title>beeeean!!!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script defer src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" integrity="sha384-vuFJ2JiSdUpXLKGK+tDteQZBqNlMwAjhZ3TvPaDfN9QmbPb7Q8qUpbSNapQev3YF" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <li>
        <%= link_to "Top", root_path, class: "btn btn-secondary" %>
        <%= link_to "About", about_path, class: "btn btn-danger" %>
        <%= link_to "Beans", beans_path, class: "btn btn-dark" %>
        <%= link_to "Log Out", destroy_user_session_path, class: "btn btn-warning", method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "Top", root_path, class: "btn btn-secondary" %>
        <%= link_to "About", about_path, class: "btn btn-danger" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
        <%= link_to "Log In", new_user_session_path, class: "btn btn-warning" %>
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
